<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appSettings>
      <add key="222.00" value="player.placeatme 000fea9b"/> <!-- fire dragon -->
      <add key="111.00" value="player.placeatme 000D93A7"/> 
      <add key="55.00" value="player.placeatme 000BC071"/> 
   </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
